/* Font*/
@font-face {
  font-family: Outfit;
  src: url(https://fonts.google.com/specimen/Outfit);
  font-weight: 400, 700;
}

* {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

/*Header*/
header {
  background: #8b2cc2;
  padding: 0.8em;
}

/*Main*/
main {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

/*Images*/
.img {
  justify-self: flex-end;
  align-self: center;
  width: 20em;
  margin: 1em;
  border: #030303 solid 1.5px;
}

#domination {
  background-image: url(images\confuddled.gif);
}

#domination .img-hover :hover {
  opacity: 0%;
}
